<style type="text/css">
  html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_APP_KEY'] %>&libraries=visualization">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: 40.783435, lng: -73.966249},
      zoom: 12
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"></div>
